@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Be+Vietnam+Pro:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #ba0036;
  --color-primary-container: #e21e4a;
  --color-surface: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-high: #e8e8e8;
  --color-on-surface: #1a1c1c;
  --color-secondary: #5e5e5e;
  --color-outline-variant: #e5bdbe;
  
  --font-headline: "Manrope", sans-serif;
  --font-body: "Be Vietnam Pro", sans-serif;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
